spring:
  datasource:
    url: jdbc:mysql://localhost:3306/collabnex?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC


server:
  port: 8080

app:
  security:
    jwt:
      issuer: collabnex
      expiration-minutes: 600
      secret: zvV8eQkN93@w#tRj!cLzP2nTxhS6uYeM4oQvA1rD9kB7fGxW8n
  cors:
    allowed-origins: "http://localhost:5173,http://localhost:3000"
    allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
    allowed-headers: "*"
